body
{
    background: linear-gradient(lightblue,lightpink,rgb(206, 156, 206));
    font-family: 'Cedarville Cursive', cursive;
    align-items: center;
    font-size: large;
}



.copy_right_footer
{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    background-color:peachpuff;
    line-height: 3;
    text-align: center;
    text-shadow:5px 5px 5px gray ;
    font-weight: 700px;;
}

h3,h4{
    font-size: 25px;
    text-shadow:5px 5px 5px gray ;
    font-weight: bolder;
}

.heading_div
{
    float:none;
}
